[2015-08-25 14:09] tomalec opened #1 "Make it bower on fly"
So an UI which allows to manage bower dependencies like [bower browser](https://www.npmjs.com/package/bower-browser)

[2016-02-22 09:01] miyconst opened #2 "IE and FF support"
The new version with Polymer `1.2.4` does not work in IE and FF.

- FF - ignores model changes.
- IE - throws exception on page load.

Tested with:

1. Launcher.
2. Products.
3. SysUpgrade.

[2016-02-22 09:10] warpech commented on #2
Thanks for noticing. Looking into it now

[2016-02-22 09:56] warpech commented on #2
For me it is workable in FF and Edge after hard clearing of cache, with one problem: changes to model are observed after every second click.

I will fix this problem and ask you to re-test.

Btw. I think we need to revisit our caching rules, because the current ones are way too stubborn.

[2016-02-22 10:01] miyconst commented on #2
Are we targeting IE at all? I always test in IE 11, not only in Edge. If we don't care about it, then I won't spend time for it.

[2016-02-22 10:09] warpech commented on #2
PuppetJs works in any browser that support XmlHttpRequest. The problem is with Polymer and its bindings. Theoretically `puppet-client` should run in [every browser that Polymer supports](https://www.polymer-project.org/1.0/resources/compatibility.html). Practically, Polymer has tons of problems in IE so we cannot fix them but can learn to live with most of them. Let's try to support IE11 but not a

[2016-02-23 16:30] warpech commented on #2
Seems that the problem is fully reproducible in the following conditions:

- use browser FF, Edge or Safari
- use Launcher's `starcounter-include` (not the original `starcounter-include`)
- use Polymer 1.2 or 1.3

To fix the problem one must either:

1. disable `juicy-tile-table` in Launcher's `starcounter-include` (for example by 404'ing the HTML Import). Not really a solution :)
2. add the follo

[2016-02-24 09:50] warpech commented on #2
I didn't like the solution [2] from above, so I have investigated [1].

So why does j-t-l prevent binding from work? It is connected to the fact that j-t-l does not distribute `<template>` tags.

Commenting out this line: [`!(child instanceof HTMLTemplateElement) &&`](https://github.com/Juicy/juicy-tile-list/blob/23ede2b50d0b93a852771b9dc81336fe70adb987/src/juicy-tile-list.html#L111) fixes this pr

[2016-02-24 09:53] miyconst commented on #2
@warpech could you please check whether adding:

[code]

To https://github.com/Juicy/juicy-tile-list/blob/gh-pages/src/juicy-tile-list.html#L49 solves the problem?

[2016-02-24 09:53] warpech commented on #2
Or maybe I actually have a solution!!! It seems that adding this line:

[code]

after https://github.com/Juicy/juicy-tile-list/blob/23ede2b50d0b93a852771b9dc81336fe70adb987/src/juicy-tile-list.html#L49 fixes the problem without side effects.

@tomalec any idea for explanation why is it not needed in Chrome but is needed in polyfill? Might it be an actual bug in Chrome?

[2016-02-24 09:54] warpech commented on #2
@miyconst great timing :) And I admire your skill of doing it without the research that I did. But why is it a problem at all? Any ideas?

[2016-02-24 09:59] miyconst commented on #2
@warpech I have spend some time investigating this issue for scripts and styles not being executed/applied in IE/FF.

It ended up that wc.js simply removes the nodes which are not distributed from Shadow DOM.

[2016-02-24 10:30] tomalec commented on #2
I think we can go with `<content select="template">` as interim state.
However, the down sides are:
 - we can end up filtering any know node type, and it will me always one missing, like with j-t-l filtering elements
 - it would be harder to achieve with Shadow DOM v1

I would say that `<content>` (`<slot>`) could be a good solution, but then we will need to make sure hidden tiles are display none

[2016-02-24 10:31] tomalec commented on #2
I think it's a bug in wc.js, possibly non-fixable. But could you chaeck with master branch of wc.js? there were some fixes regarding nested templates recently.

[2016-02-24 10:31] warpech commented on #2
...while Chrome keeps them, even though they are not distributed. I wonder what does the spec say. I can't find it: https://www.w3.org/TR/2014/WD-shadow-dom-20140617/

[2016-02-24 10:32] warpech commented on #2
I am testing wcjs v0.7.21, which is the current head of the master branch

[2016-02-24 10:33] tomalec commented on #2
I think I have asked about it somewhere, but I cannot find where ;)

[2016-02-24 10:37] tomalec commented on #2
At https://www.w3.org/TR/html5/scripting-1.html#script I see no reason why `<script>` inserted into a Document should not be executed.

[2016-02-24 10:38] warpech commented on #2
Anyway, I think that the `content` solution is the way to go. Would you go with `<content select="template">` or `<content>`? I cannot think of a reason why it shouldn't be just `<content>`.

[2016-02-24 10:41] tomalec commented on #2
I would go with `<content>` unless you will find any bug with it. I think it was initially to serve hide feature, and to make sure only tiles are rendered, without inline texts etc.

[2016-02-24 11:02] tomalec commented on #2
I think this summarizes our concer about, how and why it should work http://w3c.github.io/webcomponents/spec/shadow/#html-elements-in-shadow-trees

[2016-02-24 12:34] warpech commented on #2
Current Launcher (`master`) and SysUpgrade (`master`) are working in FF and Edge with the beforementioned `<content>` fix.

@miyconst could you please check again? Also, please check if this doesn't break any other known problems with `<script>` in IE and FF.

Btw. I have upgraded SysUpgrade to Polymer 1.3

[2016-02-24 12:48] tomalec commented on #2
https://github.com/Polymer/polymer/issues/3464

[2016-02-25 11:00] warpech opened #3 "Workspace switching does not work properly in Launcher"
After going to Launcher, then People, then KitchenSink.

KitchenSink workspace appears after, not instead of, People workspace.

<img width="1419" alt="screen shot 2016-02-25 at 11 58 32" src="https://cloud.githubusercontent.com/assets/566463/13317782/472cdab4-dbb7-11e5-97b1-e9f4b933115b.png">

[2016-02-25 14:09] warpech commented on #3
I know what is the reason. My way of bumping Polymer templates:

[code]

Successfully bumps:

- models of `dom-bind`
- items of `dom-repeat`

But NOT properties of model used **inside** `dom-repeat` nor `dom-if`.

In the specific case of Launcher, `{{model.uri}}` does not get notified in the following code:

[code]

I have a fix. I will post it soon.

[2016-02-25 14:37] warpech commented on #3
The fix is highlighted here: https://github.com/PuppetJs/puppet-polymer-client/blob/a2542877139a259c42b747aaad534ec2b895b896/puppet-client.html#L251-L279

I know - it looks fragile, it doesn't have a test and it only takes into consideration properties that are called `model`, `items` and `item`. I would like to add tests and propose it as a general solution for the Polymer issue 1796 where I comp

[2016-02-25 14:37] #3 closed

[2016-02-25 15:46] miyconst commented on #2
FF seems to work with the latest SysUpgrade, but IE still throws errors:

![image](https://cloud.githubusercontent.com/assets/6435556/13324744/4bff7862-dbdf-11e5-8ea8-5a308fb233dd.png)

The page is blank.

[2016-02-25 15:57] warpech opened #4 "Patch tab in `starcounter-debug-aid` does not work"
As on the screenshot:

<img width="1416" alt="screen shot 2016-02-25 at 16 56 24" src="https://cloud.githubusercontent.com/assets/566463/13325110/c3abce14-dbe0-11e5-9004-45d7deab3921.png">

[2016-02-25 16:00] warpech commented on #2
Confirmed.

Chrome, Firefox, Edge and Safari seem to work OK though

[2016-02-25 16:14] warpech commented on #2
Closed by accident

@miyconst believe it or not but the simple change from https://github.com/PuppetJs/puppet-polymer-client/commit/ad5f4e65cc1f0ad868c9b87904729e05582f5171 fixes IE11 somehow :)

[2016-02-25 16:17] miyconst commented on #2
That was an easy fix :)

[2016-02-25 16:29] #4 closed

[2016-02-26 08:16] warpech commented on #2
Closing this issue, because SysUpgrade generally works now in IE, FF and other polyfilled browsers.

Specific problems (such as https://github.com/StarcounterSamples/Products/issues/8) are tracked in separate issues.

[2016-02-26 08:16] #2 closed

[2016-06-16 16:18] warpech opened #5 "Remove this app"

[2016-06-16 16:25] warpech commented on #5
I discussed this today with @joozek78. I think that SysUpgrade has served its purpose and should be removed now. When we want to try out ClientFiles on a different machine, we can just send a ZIP file.

@miyconst, @tomalec WDYT?

[2016-06-16 17:07] tomalec commented on #5
I agree that this app is currently useless.
However, in my opinion app is better a migration/early-adopting/testing tool, than overwriting  `Starcounter/../sys` files via ZIP package:

- could be easily reverted,
- could be started/stopped in any moment, for any particular set of other apps
- could be versioned/updated via this repo,(instead of `Polymer7.0migration_package.zip`,`Polymer7.0Puppet3.

[2016-06-16 17:12] miyconst commented on #5
I agree with what @tomalec says. We never know what Polymer is going to release in the future, and it is very likely this app will get handy again.

[2016-06-16 17:12] warpech commented on #5
Problem is, that to address the values that you mention, this app would need to be actively maintained.

Right now it includes Polymer 1.3, so it is actually "SysDowngrade".

Maybe moving the files from https://github.com/Starcounter/Starcounter/tree/develop/src/BuildSystem/ClientFiles to a new `StarcounterSys` repo (with `master` branch and feature branches) would be a better idea?

[2016-06-16 17:38] tomalec commented on #5
I would say that to address those values, all we need is to remove everything from `https://github.com/StarcounterSamples/SysUpgrade/tree/master/SysUpgrade/wwwroot/sys` as  "there is no big migration in progress."

I'm affraid that this would require even bigger maintenance overhead, plus, to use such migration package client would have to build Starcounter, instead of just running .exe

[2016-06-24 09:22] warpech commented on #5
Ok, I will do that.

Since there is no universal acclaim for my idea, I am closing this issue.

[2016-06-24 09:22] #5 closed

[2017-05-09 16:50] warpech opened #6 "Keep or remove this app?"
@Mackiovello proposed in https://github.com/Starcounter/CompanyTrack/issues/331:

[2017-05-09 16:51] warpech commented on #6
I think that this app should be moved to the freezer. I will make a PR to explain why.

Next steps:

- [ ] Make a PR that explains the purpose of this app for future reference.
- [ ] Move this app to https://github.com/StarcounterAppsFreezer. Apps in that organisation do not get updates until we remove them from freezer.

[2017-05-11 11:44] warpech commented on #6
All done

[2017-05-11 11:44] #6 closed

[2017-05-17 13:59] warpech opened #8 "Update to Palindrom 3.0.0"
As discussed on the Palindrom Task Force meeting today, upgrade the contents of this repo to use Palindrom 3.0.0 with Polymer 1.x integration.

It will be used to try out Palindrom 3.0.0 before rolling it out in Starcounter.

[2017-05-17 14:32] warpech commented on #1
Related: https://github.com/Starcounter/RebelsLounge/issues/114

[2017-07-05 12:42] warpech commented on #8
This can be now closed as done (on `Palindrom3.0.0` branch)

[2017-07-05 12:42] #8 closed

[2017-10-02 12:23] warpech commented on #1
Moved to https://github.com/Starcounter/RebelsLounge/issues/114

[2017-10-02 12:23] #1 closed

[2017-12-07 16:31] warpech opened #11 "Rename this app to Starcounter.ClientFiles"
In order to do https://github.com/Starcounter/Home/issues/326, we need to pick a better name for this app. I propose `Starcounter.ClientFiles`.

[2017-12-07 16:36] warpech opened #12 "Master branch should include all client files for Polymer 1"
Branch `master` should include all client files for Polymer 1, including `app-shell.html` (see: https://github.com/Starcounter/Home/issues/334).

Basically, this will be a copy of https://github.com/Starcounter/level1/tree/fc4f00ac3d60dc7551c574053514b3fd5700d5ad/src/BuildSystem/ClientFiles including `app-shell.html` for Polymer 1.

When this is done, release branch `master` as Starcounter.ClientF

[2017-12-07 16:38] warpech opened #13 "Master-2.4 branch should include all client files for Polymer 2"
Branch `master-2.4` should include all client files for Polymer 2, including `app-shell.html` (see: https://github.com/Starcounter/Home/issues/334).

When this is done, release branch `master-2.4` as Starcounter.ClientFiles 2.0.0

[2017-12-07 19:00] alshakero commented on #11
I think we'll need another name `ScErrBadApplicationName (SCERR2146): Application name can only contain letters, numbers and underscores`.

[2017-12-07 23:15] warpech commented on #11
Ugh... `StarcounterClientFiles`?

[2017-12-08 09:24] alshakero commented on #11
Closing as done in https://github.com/Starcounter/StarcounterClientFiles/commit/c556ea15ab93431b698aa77769fe3a0335027dbd

[2017-12-08 09:24] #11 closed

[2017-12-08 10:43] alshakero commented on #13
Should it include all files in Starcounter/ClientFiles or only Polymer 2.0 related files?

[2017-12-08 11:31] warpech commented on #12
This is means to implement https://github.com/Starcounter/Home/issues/326

[2017-12-08 12:26] warpech commented on #13
All client files, because this is the goal: https://github.com/Starcounter/Home/issues/326

[2017-12-11 14:56] alshakero commented on #13
Good? https://github.com/Starcounter/StarcounterClientFiles/tree/master-2.4

[2017-12-11 14:58] alshakero commented on #13
If yes, I'll replicate the same format for `master`.

[2017-12-11 17:22] warpech commented on #13
Please add `.vs` to `.gitignore` and remove these directories from repo.

I think that the list of dependencies in README.md can be changed by just a link to https://github.com`./src/StarcounterClientFiles/wwwroot/bower-list.txt`. There will be one less thing to maintain.

Other than that yes, it looks as desired!

[2017-12-11 17:24] alshakero commented on #13
Perfect idea!

[2017-12-11 17:24] warpech commented on #13
Please put `bower-list.txt`, `.bowerrc`, `.gitignore`, `bower-list.txt` in more canonical path. In other apps these files are in repo root or in the VS project root.

[2017-12-11 17:57] alshakero commented on #13
Legit point.

Done in https://github.com/Starcounter/StarcounterClientFiles/commit/2d467a680a496e277be9045dbde4965593260f59.

Good enough to close this?

[2017-12-11 17:59] alshakero commented on #12
Ping here https://github.com/Starcounter/KitchenSink/pull/208#issuecomment-350793097 when this is done.

[2017-12-12 12:20] alshakero commented on #12
Done in https://github.com/Starcounter/StarcounterClientFiles/commit/4adc2ec793373f18e8e084e64b79d39beaf158e8

[2017-12-12 16:55] warpech commented on #12
Just one comment: Bower files should be in the project directory, as in the project structure presented here: https://docs.starcounter.io/cookbook/project-structure

[2017-12-12 16:56] warpech commented on #13
Just a small comment: The canonical way for Bower files is to put them in the project directory, as in the project structure presented here: https://docs.starcounter.io/cookbook/project-structure

[2017-12-13 16:00] warpech opened #14 "Release versions for App Warehouse"
The current `master` branch should be tagged `1.0.0`, built with Starcounter 2.4, packaged for App Warehouse and released as a version for GitHub.

The current `master-2.4` branch should be tagged `2.0.0`, built with Starcounter 2.4, packaged for App Warehouse and released as a version for GitHub.

This will allow @ubbeK to use Git tags in level1 (for issue https://github.com/Starcounter/Home/issu

[2017-12-14 14:17] alshakero commented on #13
Closing as done in https://github.com/Starcounter/StarcounterClientFiles/commit/a448db7ba3fbcd02983eede2ed5ede9d1544f691

[2017-12-14 14:17] #13 closed

[2017-12-14 14:18] alshakero commented on #12
Closing as done in https://github.com/Starcounter/StarcounterClientFiles/commit/da3c1b0a10e6389e939c9deab483303fd7053785

[2017-12-14 14:18] #12 closed

[2017-12-14 14:27] alshakero commented on #14
Could you elaborate on "packaged for App Warehouse" please? Is there a special format or anything?

[2017-12-18 13:02] alshakero commented on #14
Should be good now:
1. https://github.com/Starcounter/StarcounterClientFiles/releases
2. http://warehouse.starcounter.com/warehouse/organizations/starcounter/softwares/starcounterclientfiles

[2017-12-21 11:46] alshakero opened #19 "Rename branches to Polymer1 and Polymer2"
Isn't it misleading that the branches are called master and master2.4? They're both for 2.4 and can't run on 2.3. This might create confusion and break the pattern for the other apps.

Also `master` doesn't carry any information within, `Polymer1` and `Polymer2` do.

WDYT @warpech @tomalec

[2017-12-23 22:07] warpech commented on #19
Thanks for bringing up the idea.

I think that `Polymer1` and `Polymer2` are not good names, because our long term strategy is not to tie to a specific framework.

I have renamed the master branch to `1.x` and master-2.4 to `2.x` according to the version number of SCF. I think it will be better this way.

[2017-12-23 22:07] #19 closed

[2017-12-23 22:16] alshakero commented on #19
Great thanks!

[2017-12-26 13:27] alshakero commented on #14
Can I close this?

[2017-12-29 17:13] warpech commented on #14
Yes, definitely. Thanks a 💯 !

[2017-12-29 17:13] #14 closed

[2018-01-10 16:31] warpech commented on #13
Setting as “Finished” because it is:
- released (with release notes) https://github.com/Starcounter/StarcounterClientFiles/releases/tag/2.0.0
- included in level1 https://github.com/Starcounter/level1/pull/4435
- announced on the Starcounter blog https://starcounter.io/starcounter-2-4-gets-upgrade-polymer-2/ ("Manual upgrade or downgrade to Polymer 1 and 2")

[2018-01-10 16:35] warpech commented on #12
Setting as “Finished” because it is:
- released (with release notes) https://github.com/Starcounter/StarcounterClientFiles/releases/tag/1.0.0
- included in level1 https://github.com/Starcounter/level1/pull/4420
- announced on the Starcounter blog https://starcounter.io/starcounter-2-4-gets-upgrade-polymer-2/ ("Manual upgrade or downgrade to Polymer 1 and 2")

[2018-01-10 16:37] warpech commented on #14
Setting as “Finished” because it is:
- announced on the Starcounter blog https://starcounter.io/starcounter-2-4-gets-upgrade-polymer-2/ ("Manual upgrade or downgrade to Polymer 1 and 2")

[2018-02-02 15:20] tomalec opened #31 "Add Underwear and Uniform to bower.json uninstall bootstrap"
As you can see in https://github.com/Starcounter/StarcounterClientFiles/blob/1.x/src/StarcounterClientFiles/bower.json they are not installed. Also the file referenced in `app-shell.html` does not exist in underwear.css bower package.

[2018-02-05 08:30] warpech commented on #31
Underwear and Uniform are in branch `3.x` of this app. Branches `1.x` and `2.x` are with Bootstrap.

But I agree that it has to be added to `bower.json` in the branch `3.x`, because it's not there at the moment.

[2018-02-07 14:27] tomalec commented on #31
@warpech  Should uniform contain underwear? Currently, it does, but I think it breaks the principle of separating minimalistic common look from the opinionated framework.

[2018-02-07 14:55] warpech commented on #31
Uniform should NOT contain Underwear.

There should be 2 demo pages:

- one without Underwear (for principle)
- anouther one with Underwear (for our convenience)

[2018-02-08 09:26] tomalec commented on #31
This is done by #36

[2018-02-08 09:26] #31 closed, assigned to tomalec

[2018-02-08 09:44] tomalec opened #37 "Update Polymer to 2.5"
Currently I'm facing an issue with data-binding needed to finish https://github.com/Starcounter/KitchenSink/pull/241

The case seems to work with latest Polymer.

@warpech Do you think we can safely upgrade Polymer, or should I look for a workaround for 2.3.1?

[2018-02-08 12:21] warpech commented on #37
If it fixes a real issue then let's do it.

Please make a PR for `3.x` and `2.x`. We will test it using https://github.com/Starcounter/AdminTrack/issues/435

[2018-02-09 13:19] warpech opened #38 "Remove juicy-redirect from SCF 2.x and 3.x"
Remove `juicy-redirect` from SCF 2.x and 3.x as it was agreed in https://github.com/Juicy/juicy-redirect/issues/7

[2018-02-13 13:02] #37 closed, assigned to alshakero

[2018-02-13 13:06] alshakero commented on #38
Closing as done. 2.3.0 and 3.0.0-rc.4 are published everywhere.

[2018-02-13 13:06] #38 closed, assigned to alshakero

[2018-02-13 13:06] alshakero commented on #37
Done. 2.3.0 and 3.0.0-rc.4 are published everywhere.

[2018-03-01 14:29] warpech opened #51 "⏰ Vulcanization has a conflict between `polymer.html` and `polymer-elements.html`"
After importing `polymer.html`, it is impossible to import `polymer-elements.html` because it gives the following error:

[code]

To reproduce:

1. Install Starcounter 2.4.0.5210
2. Build KitchenSink `master-2.4`
3. Go to http://localhost:8080/KitchenSink/Datepicker

[2018-03-04 21:34] warpech commented on #51
Short term fix was released in https://github.com/Starcounter/StarcounterClientFiles/pull/53 (SCF 3.0.1)

Long term fix was released in https://github.com/Starcounter/StarcounterClientFiles/pull/52 (SCF 3.1.0)

[2018-03-04 21:34] #51 closed, assigned to alshakero

[2018-03-13 09:52] ubbeK opened #58 "StarcounterClientFiles.csproj has npm dependency"
https://github.com/Starcounter/StarcounterClientFiles/blob/3.x/src/StarcounterClientFiles/StarcounterClientFiles.csproj#L82-L84

Add this dependency to README.md

[2018-03-13 09:56] warpech commented on #58
cc @alshakero

[2018-03-15 13:18] alshakero opened #59 "Create a version.txt file bearing the lastest build version"
1. Create a `version.txt` file bearing the app version
2. Put it in `src/StarcounterClientFiles` directory.
3. Update `build.bat` script; pass the said file content (version) as an argument to `msbuild` (`MSBuild.exe StarcounterClientFiles.sln /p:VersionNumber=X.Y.Z`)
4. Update AfterBuild script to only use `node` when its available. This allows files to be built on our machines but will not entai

[2018-03-27 12:31] alshakero opened #63 "Document the way to bump StarcounterClientFiles version in level1"
[This file](https://github.com/Starcounter/level1/blob/a706fcc9d41725bb528c86b6e5fc0053f5aca467/src/BuildSystem/ClientFiles/ClientFiles.csproj) has the SCF version that level1 pulls when it is being built. We should document this and document how to bump it when we have to.

[2018-04-04 14:15] alshakero commented on #63
Oh, I've just seen this https://github.com/Starcounter/AdminTrack/issues/476. Updating in a minute.

[2018-04-05 11:43] #63 closed, assigned to alshakero

[2018-04-10 08:04] alshakero commented on #59
Closing as irrelevent now. Superseded by https://github.com/Starcounter/StarcounterClientFiles/pull/61 and https://github.com/Starcounter/StarcounterClientFiles/pull/62.

[2018-04-10 08:04] #59 closed, assigned to alshakero

[2018-04-10 11:55] #58 closed, assigned to alshakero

[2018-04-16 07:12] warpech opened #67 "Instructions in README and CONTRIBUTING are not aligned"
All instructions about releasing a version should be in CONTRIBUTING file, not distributed accross two files:

https://github.com/Starcounter/StarcounterClientFiles/blob/3.x/README.md
https://github.com/Starcounter/StarcounterClientFiles/blob/3.x/CONTRIBUTING.md

As found in https://github.com/Starcounter/StarcounterClientFiles/pull/64#issuecomment-381175880

[2018-04-18 08:52] tomalec commented on #67
Do we have any update on that, as I'd like to release a new version today?

[2018-04-18 10:24] alshakero commented on #67
PR in https://github.com/Starcounter/StarcounterClientFiles/pull/68

[2018-04-23 16:23] tomalec opened #73 "Missleading, not used config and env vars for TC"
It seems we have some config in TC that actually makes no effect, like `build.vcs.number.GitStarcounterClientFiles`, `env.GIT_CLIENTFILES_BRANCH` and maybe something more.

@ubbeK, @alshakero  Am I correct that those vars are not used, and only [nuget setup](https://github.com/Starcounter/level1/blob/def3b8f8036ed8c74305aa700e14611a6efd2539/src/BuildSystem/ClientFiles/ClientFiles.csproj) matters n

[2018-04-23 18:30] ubbeK commented on #73
Yes, but there was a bug in the old build environment. It has been updated so it actually includes the content from the nuget package instead from git source.

I will remove StarcounterClientFiles sources from the old TC build, including `build.vcs.number.GitStarcounterClientFiles`

[2018-04-23 18:38] ubbeK commented on #73
Done!

[2018-04-24 13:17] alshakero commented on #67
So, the issue was actually covered in the proposed docs https://github.com/Starcounter/StarcounterClientFiles/blob/fix-docs/CONTRIBUTING.md#bumping-level1-to-use-the-new-version. Is this good to go?

[2018-04-24 17:18] #67 closed, assigned to alshakero

[2018-04-26 21:08] warpech opened #76 "Update package.json"
For reasons enclosed on Slack: https://starcounter.slack.com/archives/C7677F70W/p1524776857000399

[2018-04-27 10:58] warpech commented on #76
Same alert appears in

- [ ] https://github.com/Starcounter/starcounter-layout-html-editor
- [ ] https://github.com/Starcounter/Blending
- [ ] https://github.com/Starcounter/starcounter-include
- [ ] https://github.com/Juicy/juicy-popover
- [ ] Perhaps few more Juicy and Palindrom repos?

[2018-04-27 11:16] alshakero commented on #76
It will appear wherever Polymer 2.0 appears.

[2018-05-04 12:24] tomalec opened #79 "Release instructions are redundand and tangled with warehouse publishing"
https://github.com/Starcounter/StarcounterClientFiles/blob/3.x/CONTRIBUTING.md#releasing-of-a-new-version-of-starcounterclientfiles-3x

Points 7-9:

    * this will create a nuget package of StarcounterClientFiles called `Starcounter.ClientFiles` to folder `/StarcounterClientFiles/artifacts/Starcounter.ClientFiles.X.Y.Z.nupkg`

Are same as few of https://github.com/Starcounter/CompanyTrack/blob/ma

[2018-05-04 14:37] LarsTjernstrom opened #80 "Build warning Known moderate severity security vulnerability detected in hoek < 4.2.1 defined in package"
2018-05-04 Lars Tjernström
I receive these the warning below. Can someone please upgrade **hoek** version to greater then 4.2.1 to get rid of these warnings?

Starcounter/StarcounterClientFiles

Known moderate severity security vulnerability detected in hoek < 4.2.1 defined in package-lock.json.package-lock.json update suggested: hoek ~> 4.2.1.Always verify the validity and compatibility of sugges

[2018-05-05 10:24] alshakero commented on #80
Hi, yes I'm preparing a PR for the lib that uses hoek. It's [`request`](https://github.com/request/request). `request` is used inside `selenium-standalone` which we use in `web-component-tester`.

[2018-05-05 10:28] alshakero commented on #80
Update: It's already discussed and it's a false flag, see https://github.com/request/request/issues/2926#issuecomment-384853637

[2018-05-07 11:35] alshakero commented on #80
Closing as duplicate of #76

[2018-05-07 11:35] #80 closed, assigned to nobody

[2018-05-07 11:35] alshakero commented on #76
Closing as it's a false flag, see https://github.com/request/request/issues/2926#issuecomment-384853637

Extra assurance from a GH staffer: https://github.com/hapijs/hoek/issues/247#issuecomment-386708295

[2018-05-21 13:41] alshakero commented on #76
Reopening as 2.16.3 is indeed infected. The false flag was for 4.2.1.

[2018-05-28 13:53] warpech commented on #76
This is not urgent, moving to July.

[2018-05-30 09:38] alshakero opened #86 "In the app-shell, listen to and log palindrom-client error events"
This will give the developers back their ability to detect when connection errors occur.

Console and UI (disconnection bar) error indications where removed earlier in https://github.com/Palindrom/palindrom-client/issues/69 in favour of `palindrom-error-catcher`. But this was a regression in the development experience.

This issue is about putting console errors back, but not the disconnection bar

[2018-06-01 14:16] Joltrix opened #90 "updated the cake version to the latest 0.27.2"
https://github.com/Starcounter/Bifrost.BuildEnvironment/issues/24

[2018-06-01 14:16] Joltrix opened #91 "3.x handle palindrom error in appshell and update palindrom-error-catcher"
Fixes #87 and updates palindrom-error-catcher

[2018-06-01 14:16] Joltrix opened #92 "Handle Palindrom errors in app-shell"
Fixes #86

[2018-06-01 14:16] Joltrix opened #93 "In the app-shell, listen to and log palindrom-client error events"
This will give the developers back their ability to detect when connection errors occur.

Console and UI (disconnection bar) error indications where removed earlier in https://github.com/Palindrom/palindrom-client/issues/69 in favour of `palindrom-error-catcher`. But this was a regression in the development experience.

This issue is about putting console errors back, but not the disconnection bar

[2018-06-01 15:08] #90 closed, assigned to nobody

[2018-06-01 15:08] #91 closed, assigned to nobody

[2018-06-01 15:08] #92 closed, assigned to nobody

[2018-06-01 15:08] #93 closed, assigned to alshakero

[2018-06-14 13:56] alshakero commented on #86
Done and releases in [SCF 3.10](https://github.com/Starcounter/StarcounterClientFiles/releases/tag/3.10.0)

[2018-06-14 13:56] #86 closed, assigned to alshakero

[2018-06-14 15:21] warpech commented on #79
Thank you @tomalec. These are two completely different questions in one issue. Let's deal with the first part of it fast.

@alshakero if you agree with @tomalec's proposal:

    * [package.bat](https://github.com/Starcounter/StarcounterClientFiles/blob/3.x/package.bat) will create a nuget package of StarcounterClientFiles called `Starcounter.ClientFiles` to folder `/StarcounterClientFiles/artifact

[2018-06-14 15:21] warpech commented on #73
@tomalec I assume this can this be closed now?

[2018-06-14 15:23] #73 closed, assigned to nobody

[2018-06-22 07:33] warpech commented on #76
Web Components Tester 6.7.0 was released this week. I suppose it might fix the vulnerabilities alerts: https://github.com/Polymer/tools/releases/tag/web-component-tester%406.7.0

Edit: it might not be enough, given this PR that was started afterwards: https://github.com/Polymer/tools/pull/533

[2018-06-22 10:02] alshakero commented on #79
Releasing is taking me 10 mins now. I measured it last time. Should I automate?

[2018-06-22 10:03] alshakero commented on #79
This was fixed in https://github.com/Starcounter/StarcounterClientFiles/pull/68. I verified but would appreciate a quick skim to make sure I understand correctly. It's worth mentioning that I do remember that this issue was a duplicate since it was created.

Please close if it was indeed addressed.

[2018-06-22 10:20] warpech commented on #79
Partial automation of something that takes 10 minutes once every 2 weeks does not sound like a good use of our time.

[2018-06-22 10:22] warpech commented on #79
@alshakero Tomek approved PR #68 on April 24th and then it was merged.

This issue was created by Tomek on May 9th so how could it be addressed in PR #68?

[2018-06-22 11:45] alshakero commented on #79
@warpech you're right, sorry.

[2018-07-02 15:07] #79 closed, assigned to alshakero

[2018-07-03 08:16] alshakero commented on #76
Polymer/tools#533 is still WIP

[2018-07-03 12:09] warpech commented on #76
Meanwhile, I can see that some of our vulnerabilities actually don't depend on it:

- the vulnerability in https://github.com/Palindrom/Palindrom seems to be in our control by upgrading Mocha to the current version

[2018-07-03 12:24] alshakero commented on #76
PR in https://github.com/Palindrom/Palindrom/pull/213

[2018-07-16 10:40] alshakero opened #100 "Update `underwear.css` patch in app-shell"
Currently SCF fetches `underwear.css` from `/sys/underwear.css` which is not valid anymore. It needs to fetch it from `/sys/uniform.css/dist/underwear.css`.

[2018-07-17 10:22] #100 closed, assigned to alshakero

[2018-07-19 06:50] warpech opened #102 "Include full Uniform in app shell"
Right now, only Underwear part is included in app shell.

This has the following negative consequences:

- browser downloads both underwear.css and uniform.css for shadow roots, causing double-transfer of the uniform part
- browser downloads uniform.css at a later point, resulting in FOUC that can be mitigated with a verbose prefer have
- developers are complaining that they can't use uni-primary-

[2018-07-23 12:13] tomalec commented on #102
I think we agreed on this sometime in July sprint on Uniform. For sure we talked about using it in content part (=> importing it at least in light DOM part of a view). But given we agreed to merge Underwear and Uniform together, I think it implies adding Uniform to app shell as well.

It's not 100% perfect solution, as it's somewhat intrusive, by preloading set of very opinionated CSS rules for ev

[2018-07-24 06:53] warpech commented on #102
Great, thanks! @alshakero can you pls implement this?

[2018-07-30 13:23] warpech commented on #76
There is a general solution that should be applied in all affected repos that have `web-component-tester` in `package.json`: https://github.com/Starcounter/starcounter-include/pull/106

@alshakero could you pls apply it in all relevant repos?

[2018-07-31 08:11] #102 closed, assigned to alshakero

[2018-08-02 13:11] warpech commented on #76
What's the status of this?

[2018-08-02 14:51] alshakero commented on #76
It is blocked by this https://github.com/Palindrom/Palindrom/pull/213

[2018-08-02 20:59] warpech commented on #76
Meanwhile, can you look at other custom element repos, such as https://github.com/Starcounter/starcounter-layout-html-editor?

[2018-08-07 14:56] alshakero commented on #76
https://github.com/Starcounter/starcounter-layout-html-editor is fixed.

[2018-08-09 10:29] alshakero commented on #76
Closing as finally done. I think all security warnings are fixed at this point except Blending's one which should be fixed here https://github.com/Starcounter/Blending/pull/277.

Are you aware of any other security warnings?

[2018-08-09 16:19] alshakero opened #111 "Cache client-side static files using Service Workers"
This is important for app performance and UX. And it's key for an app-like experience.

I'll do it in three steps:

- [x] Continue investigating around https://github.com/Starcounter/RebelsLounge/issues/273 to create the best way that lists all static files that works on Windows
- [x] Create a service worker that consumes the list generated by first point
- [x] Create a service worker that caches

[2018-08-13 08:32] warpech commented on #76
Do you have "Vulnerability alerts" subscribed on the page https://github.com/settings/notifications?

Every day I get a daily digest with the repos that still have vulnerabilities. Today's report includes:

- https://github.com/Palindrom/puppetjs.github.io
- https://github.com/Palindrom/palindrom.github.io
- https://github.com/Juicy/juicy.github.io
- https://github.com/Starcounter/SignIn - this ca

[2018-08-13 08:38] alshakero commented on #76
Now I do.

Blending should be fixed by this PR https://github.com/Starcounter/Blending/pull/277

[2018-08-13 09:49] alshakero commented on #76
1. Palindrom/puppetjs.github.io, I archived the repo.
2. Palindrom/palindrom.github.io, **Fixed**
3. Juicy/juicy.github.io, ~~working on it~~. **Fixed**.
4. Starcounter/SignIn, ~~tracked [here](https://github.com/Starcounter/SignIn/issues/165)~~ **Fixed**.
5. Starcounter/People, ~PR [here](https://github.com/Starcounter/People/pull/177)~. **Fixed**.
6. Starcounter/Blending ~PR [here](https://githu

[2018-08-14 09:18] alshakero commented on #76
Closing as all fixed.

[2018-08-14 09:18] #76 closed, assigned to Mihaiii, alshakero

[2018-08-15 10:35] warpech commented on #76
Huge victory! Thanks everyone involved

![](https://media.giphy.com/media/tnmZ0JCjoyOxG/giphy.gif)

[2018-09-06 13:31] warpech opened #118 "Update Polymer"
Update Polymer to the current version to include the fix for https://github.com/Starcounter/UniformDocs/issues/344

[2018-09-21 11:50] warpech opened #121 "The build results do not notify GitHub properly"
For @tomalec's commit https://github.com/Starcounter/StarcounterClientFiles/pull/120/commits/9d2511af7c34b97126caa2e40737f88d9be7705d, the build was run and failed: https://teamcity.starcounter.org/viewLog.html?buildId=69056&tab=buildResultsDiv&buildTypeId=Apps_WebPlatform_StarcounterClientFiles_TestWithApps.

The problem is that the result was not reported to GitHub. See:

<img width="1499" alt="

[2018-09-21 13:54] ubbeK commented on #121
I selected `StarcounterClientFiles 3.x` as VCS root, hopefully that fixes this issue

Runnig builds:
* https://teamcity.starcounter.org/viewQueued.html?itemId=69232
* https://teamcity.starcounter.org/viewQueued.html?itemId=69230&tab=queuedBuildOverviewTab

[2018-09-25 08:09] tomalec commented on #118
Updated to 2.6.1 in https://github.com/Starcounter/StarcounterClientFiles/pull/120

[2018-09-25 08:09] #118 closed, assigned to tomalec

[2018-10-01 22:26] ubbeK commented on #121
I had to update our access token in the `commit status publiser` even though it worked through the `Test connection`-button.

Closing as fixed.

[2018-10-01 22:26] #121 closed, assigned to ubbeK

[2019-04-23 15:02] warpech commented on #111
The proof-of-concept PR in https://github.com/Starcounter/UniformDocs/pull/357 is almost finished. We will soon make PRs in StarcounterClientFiles and Level1.

Before a docs page is created, this GitHub issue needs to host answers for the below questions:

Things that must be noted in the docs:

0. primer on what is a Service Worker, and where to learn more
   - what browsers are supported, deskto

[2019-04-23 21:56] alshakero commented on #111
Comment removed from app-shell and to be added to docs:

[code]

[2019-04-30 15:01] warpech commented on #111
While we are waiting for fixes in https://github.com/Starcounter/level1/pull/4929, @alshakero could you draft a documentation page about SW using the information gathered above? Can be done as a comment in this issue.

[2019-05-04 11:45] alshakero commented on #111
Draft is here https://github.com/Starcounter/StarcounterClientFiles/releases/tag/untagged-c2125c7cba128270e39f

[2019-05-05 08:04] warpech commented on #111
Thanks, I copied to the actual release 3.26.0 which was already there and deleted the draft.

[2019-05-06 10:46] warpech commented on #111
Reassigning to me, I will finish this issue asap.

[2019-05-07 12:17] warpech commented on #111
Released in StarcounterClientFiles 3.26.0 and Level1 https://github.com/Starcounter/level1/commit/f7556758c8bdffc6a210a536de31fce54f0bebb4.

Level1 build: https://teamcity.starcounter.org/viewLog.html?buildId=96664&tab=buildResultsDiv&buildTypeId=ScMappingNightlyRel

Release notes: https://github.com/Starcounter/StarcounterClientFiles/releases/tag/3.26.0

Part of the release notes will be included

[2019-05-07 12:17] #111 closed, assigned to warpech

[2019-05-07 13:14] warpech opened #139 "Use separate caches for "critical" and "non-critical resources""
Use separate caches for "critical" and "non-critical resources", so that they will use two independent cache quotas. This is an advice from https://www.kollegorna.se/en/2017/06/service-worker-gotchas/

When working on this, keep in mind that built-in critical resources, such as `/sys/Palindrom/dist/palindrom-dom.min.js` might come from Starcounter/ClientFiles or be overwritten by an app.

[2019-05-07 13:41] warpech opened #140 "Ability to opt out from the service worker on a resource level"
Service worker should respect `Cache-Control: No-Cache` and `No-Store` and store such resource.

[2019-05-07 14:14] warpech opened #141 "Check if service worker caches cross-origin traffic"
Check if service worker caches cross-origin traffic, if yes then it should be changed to skip cross-origin traffic.

Inspired by https://facebook.github.io/create-react-app/docs/making-a-progressive-web-app

[2019-05-13 20:41] warpech opened #142 "Clear screen immediately when invoking page reload from SW"
When SW detects the new cache key, it reloads the page. This can take several seconds. For much of this time, the user is looking at the old page that is soon to be replaced. This causes a confusing user experience.

It would be much better to show blank screen as soon as reload is initiated, or perhaps show a spinner.